$white-color: #ffffff;
$black-color: #000000;
$light-color: #2577bd;
$head-color: #d9d9d9;
$main-color: #f97316;
$griss-color: #b4b4b4;
$red-color: #dc2626;
$yellow-color: #FCD34D;;
$grissf-color: #4e4d4d;
